body{
    background-color: lightblue;
}

.container{
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    padding: 2%;
}

.destacar{
    background-color: rgb(156, 203, 244);
}

a{
    color: black;
    text-decoration: none;
}

.form-control{
    margin: 1vw;
}
