*{
    margin-left: 0px;
}

/*NAVBAR */
.navbar {
    margin-left: -5.4%;
    margin-right: -5.6%;
  }

body{
    background-color: lightblue;
    margin-left: 5%;
    margin-right: 5%;
}

.container{
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    padding: 2%;
    background-color: #FFF;
}

.form-control {
    border: none;
    background-color: #f3f3f5;
  }

.form-control-perfil{
    margin: 1vw;
    border: none;
    background-color: #f3f3f5;
}

.destacar{
    background-color: rgb(156, 203, 244);
}

a{
    color: black;
    text-decoration: none;
}

.texto {
    text-align: center;
  }

  
.fotoPerfil {
    padding: 1.5rem; 
    border-radius: 50%; 
    border: none;
}